<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Detaching Resources: Detached Search Services</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <p>Search:</p>
    <form method="post" action="/searches">
      <input type="text" name="q">
      <input type="submit">
    </form>
  </body>
</html>

